* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #054c52bb;
  color: white;
  font-size: 25px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
 a:link {
  color: #370a78;
  text-decoration: none;
  padding: 10px;
 }
nav a:hover {
  background-color: #ffe4c4;
  transition: background-color 1s ease;
  border-radius: 35px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #ffe8cc;
  border-radius: 0 0 20px 20px;
  gap: 40px;
}

section:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section:hover {
  background-color: #054c52bb;
  transition: background-color 1s ease;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 25px;
  background-color: #ffe8cc;
}

img {
  height: 180px;
  border-radius: 20px;
}

.gradient-background {
  background: linear-gradient(133deg,#ffe4c4,#94c6fc,#370a78);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 25px;
  justify-content: center;
  text-align: center;
}

.one, .three {
  border-radius: 50px 0 50px 50px;
}
.two {
  border-radius: 0 50px 50px 50px;
}

footer {

}




